@import "../common-css/colors.scss";

.main-cta {
    height: 35px;
    border: none;
    color: $white;
    font-size: 14px;

    &--primary {
        width: 70%;
        margin-left: 8px;
        background: $blue-primary-background;
        font-weight: 600;
    }

    &--secondary {
        width: 30%;
        margin-right: 8px;
        background: $blue-secondary-background;
    }
}